/* App.css */

/* .content {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* Form.css */

/* .registration-container,
.login-container {
  width: 50%;
  padding: 20px;
}

.registration-container {
  background-color: #fff;
}

.login-container {
  background-color: #000;
  color: #fff;
} */
